[Unit]
Description=Clean stale minisig

[Timer]
OnActiveSec=30 minutes
OnUnitActiveSec=30 minutes
Persistent=true
AccuracySec=1us
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target