[Unit]
Description=Run spring-cleaner for run-deploy daily

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=1us
RandomizedDelaySec=12h

[Install]
WantedBy=timers.target